.dabs-results > div {
    display: flex;
    justify-content: space-between;
    padding: 32px 0;
    border-bottom: 1px solid var(--light-color);
}

.dabs input {
    width: calc(100% - 32px);
    padding: 16px;
    border: 1px solid var(--light-color);
    border-radius: 8px;
    font-size: 30px;
    background-color: var(--light-color)
}

.dabs-results div.dabs-out {
    opacity: 0.3;
}

.dabs-results span.dabs-quantity {
    background-color: green;
    color: white;
    padding: 4px 16px;
    border-radius: 8px;
    margin-left: 8px;
    display: inline-block;
    height: 36px;
}

.dabs-results div.dabs-out span.dabs-quantity {
    background-color: red;
}

.dabs-results div.dabs-low span.dabs-quantity {
    background-color: orange;
}

.dabs-results span.dabs-quantity img {
    vertical-align: bottom;
    margin-bottom: 6px;
    margin-left: 16px;
}

